.pic3{
    margin-left: 60%;
}
.pic2{
    margin-left: 60%;
    margin-top: -27em;
    
}
.pic1{
    margin-left: 10%;
    margin-top: 2%;
}
.big1{
    width: 50%;
    height: 100%;
}
.big2{
    width: 50%;
    height: 50%;
}
.big3{
    width: 50%;
    height: 50%;
}

